/* Corps de la page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background: #f8f9fa; /* Couleur de fond claire */
}

/* Conteneur principal */
.container {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Panneau de contrôle */
#control-panel {
    width: 20%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    color: #fff;
    border-right: 2px solid white;
}

/* Titre du panneau */
#control-panel h2 {
    background: #4eb6c2; /* Couleur bleue pour l'en-tête */
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Sections des contrôles */
.controls-section {
    width: 100%; /* Largeur complète */
    margin-top: 1rem; /* Pas d'espace autour */
    padding: 0; /* Pas de padding */
    text-align: left;
    display: flex;
    flex-direction: column;
    background: #f9f9f9; /* Fond clair */
    /*border: 1px solid #cccccc; */
}

.controls-section + .controls-section {
    margin-top: 15px; /* Séparation entre les deux sections */
}

/* Titre de chaque section */
.controls-section .section-title {
    font-size: 14px;
    font-weight: bold;
    color: #bdc3c7; /* Gris clair pour le texte */
    padding: 10px 15px; /* Espacement interne */
    background: #394a5a; /* Couleur légèrement plus sombre que le panneau */
    text-transform: uppercase;
}

/* Divs dans les sections (avec hover) */
.controls-section div {
    padding: 10px 15px; /* Espacement interne */
    font-size: 14px;
    color: #ffffff;
    background: #2e3b4e; /* Couleur de fond par défaut */
    border-bottom: 1px solid #394a5a; /* Ligne de séparation */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transition douce */
}

#btn{
    background:#2e3b4e; 
}

#btn:hover {
    background-color: #4eb6c2; /* Couleur de survol */
    cursor: pointer; /* Curseur cliquable pour effet interactif */
    color: white;
}

/* Dernier élément sans bordure */
.controls-section div:last-child {
    border-bottom: none;
}

/* Style pour la carte */
#map {
    flex: 1;
    width: 80%;
    height: 100%;
    margin: 0;
    padding: 0;
}